@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grad1 {
  font-size: 4rem; /* adjust size */
  font-weight: bold;
  background: radial-gradient(circle, #2600ff, #00ffc8, #ff005e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for non-webkit browsers that support it */
  text-fill-color: transparent;
}

.courseTitle {
  font: 2rem;
  font-weight: bold;
  background: linear-gradient(#2600ff, #00ffc8, #ff005e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@keyframes borderMove {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 0 0, 200% 0;
  }
}

.customBorder {
  border: 4px solid transparent;
  border-radius: 5px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #3acfd5, #3a4ed5, #ff00ff, #3acfd5) border-box;
  background-size: 200% 100%;
  animation: borderMove 3s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.customBorder2 {
  border: 6px solid transparent;
  border-radius: 12px;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(30deg, #4d9f0c, #9198e5, #4d9f0c 20px) border-box;
  background-size: 200% 100%;
  animation: moveGradient 3s linear infinite;
}

.more-features-clip {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 80%,
    100% 100%,
    20% 100%,
    0 100%,
    0 0
  );
}

/* animation for course card border*/
@keyframes animateCourseCardBorder {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200 0;
  }
}

.course-card-custom-border {
  border: 1px solid #22c55e;
  border-radius: 12px;
  /* box-shadow: 0 0 2px #22C55E,   
              0 0 2px #22C55E,
              0 0 2px #22C55E;    */
}

/* animate course card border */
:hover.course-card-custom-border {
  border: 2px solid transparent;
  border-radius: 12px;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(23deg, yellow, pink, purple 20px) border-box;
  background-size: 200% 100%;
  animation: animateCourseCardBorder 3s linear infinite;
}

/* animate course button -- n */

@keyframes animateBuyCourseBorder {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* buy course button -- odd */
:nth-child(odd).buy-course-custom-border {
  border: 2px solid transparent;
  border-radius: 16px;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(45deg, purple, green, yellow 20px) border-box;
  background-size: 200% 100%;
  animation: animateBuyCourseBorder 3s linear infinite;
}
/* buy course button -- even */
:nth-child(even).buy-course-custom-border {
  border: 2px solid transparent;
  border-radius: 16px;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(45deg, blue, red, pink 20px) border-box;
  background-size: 200% 100%;
  animation: animateBuyCourseBorder 3s linear infinite;
}
/* style buy course even */
:hover:nth-child(even).buy-course-custom-border {
  background: linear-gradient(#14b8a6, #14b8a6) padding-box,
    repeating-linear-gradient(45deg, purple, green, yellow 20px) border-box;
  color: white;
}
/* style buy course odd */
:hover:nth-child(odd).buy-course-custom-border {
  background: linear-gradient(#a855f7, #a855f7) padding-box,
    repeating-linear-gradient(45deg, purple, green, yellow 20px) border-box;
  color: white;
}

/* scroll bar */

/* Hide scrollbar for all browsers */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto; /* make sure scroll still works */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* clip-triangle >> path history*/
.clip-triangle {
  width: 20px;
  clip-path: polygon(60% 45%, 0 0, 0 100%);
}
/* clip-triangle >> path history*/
.clip-triangle-reverse {
  width: 20px;
  clip-path: polygon(100% 0, 100% 45%, 100% 100%, 0 100%, 45% 45%, 0 0);
}
